<div class="container" style="min-height: 400px">
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                {{main.time.nome}}
            </p>
        </header>
        <div class="card-content">
            <div class="columns is-multiline">
                <div class="column is-one-third">
                    <nav class="panel">
                        <p class="panel-heading">
                            Pokemons
                        </p>
                        <div class="panel-block">
                            <p class="control has-icons-left">
                                <input class="input is-small" type="text" placeholder="Search" ng-model="searchPKM">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-search"></i>
                                </span>
                            </p>
                        </div>
                        <a 
                            class="panel-block" 
                            ng-repeat="pokemon in main.pokemons | filter:searchPKM"
                            ng-class="{'is-active': pokemon.name === main.pokemon.nome}"
                            ng-click="main.pokemon = pokemon; main.verPokemon()">
                            <span class="panel-icon">
                            <i class="fa fa-user"></i>
                            </span>
                            {{pokemon.name}}
                        </a>    
                    </nav>
                </div>
                <div class="column is-two-third" ng-if="main.pokemon.nome">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                {{main.pokemon.nome}}
                            </p>
                        </header>
                        <div class="card-image">
                            <figure class="image is-square">
                                <img ng-src="{{main.pokemon.sprite}}" />
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <label class="label">Habilidades</label>
                                <div class="field has-addons">
                                    <p class="control is-expanded">
                                        <span class="select is-fullwidth">
                                            <select 
                                                ng-model="main.habilidade"
                                                ng-options="habilidade as habilidade.move.name for habilidade in main.moves">
                                                <option value="">Selecione...</option>
                                            </select>
                                        </span>
                                    </p>
                                    <div class="control">
                                        <a 
                                            class="button is-info" 
                                            ng-click="main.adicionarHabilidade()">
                                            Adicionar
                                        </a>
                                    </div>
                                </div>
                                <span 
                                    class="tag is-primary is-medium"
                                    ng-repeat="habilidade in main.pokemon.habilidades">
                                    {{habilidade.nome}}
                                    <button class="delete is-small"></button>
                                </span>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a 
                            class="card-footer-item" 
                            ng-click="main.salvarPokemons()">
                                Adicionar {{main.pokemon.nome}} ao time
                            </a>
                        </footer>
                    </div>
                </div>
                <div class="column is-two-third">
                    <div class="columns is-multiline">
                        <div class="column is-one-third" ng-repeat="pkt in main.time.pokemons">
                            <div class="card">
                                <header class="card-header">
                                    <p class="card-header-title">
                                        {{pkt.nome}}
                                    </p>
                                </header>
                                <div class="card-image">
                                    <figure class="image is-square">
                                        <img ng-src="{{pkt.sprite}}" />
                                    </figure>
                                </div>
                                <footer class="card-footer">
                                    <a class="card-footer-item">Remover</a>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>