<div class="container" style="min-height: 400px">
    <div class="columns">
        <div class="column is-one-third">
            <nav class="panel">
                <p class="panel-heading">
                    Times
                </p>
                <a 
                class="panel-block"
                ng-class="{'is-active': time.nome === main.time.nome}"
                ng-click="main.time = time"
                ng-repeat="time in main.times">
                    <span class="panel-icon">
                        <i class="fa fa-users"></i>
                    </span>
                    {{time.nome}}
                </a>
                <div class="panel-block">
                    <button 
                    class="button is-primary is-outlined is-fullwidth"
                    ng-click="main.time = {}">
                        Novo time
                    </button>
                </div>
            </nav>
        </div>
        <div class="column is-two-third">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        {{main.time.nome || "Novo time"}}
                    </p>
                </header>
                <div class="card-content">
                    <form name="main.timeForm">
                        <div class="field">
                            <label class="label">Nome</label>
                            <p class="control">
                                <input 
                                class="input" 
                                type="text" 
                                name="nome"
                                placeholder="Nome do time"
                                ng-model="main.time.nome"
                                required />
                            </p>
                        </div>
                    </form>
                </div>
                <div class="card-content">
                    <div class="columns is-multiline">
                        <div class="column is-one-third" ng-repeat="pkt in main.time.pokemons">
                            <div class="box">
                                <article class="media">
                                    <div class="media-left">
                                        <figure class="image is-64x64">
                                            <img ng-src="{{pkt.sprite}}" />
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <div class="content">
                                            <p>
                                            <strong>{{pkt.nome}}</strong>
                                            </p>
                                        </div>
                                        <nav class="level is-mobile">
                                            <div class="level-left">
                                                <a class="level-item">
                                                    <span class="icon is-small"><i class="fa fa-trash"></i></span>
                                                </a>
                                            </div>
                                        </nav>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item" ng-click="main.salvarTimes()">Salvar</a>
                    <a class="card-footer-item" ng-click="main.verTime()" ng-disabled="main.time.nome">Editar time</a>
                    <a class="card-footer-item">Remover</a>
                </footer>
            </div>
        </div>
    </div>
</div>